# Series

In [ ]:
import pandas as pd 

x = [3,45,6,67]

# series structure 

var = pd.Series(x)
print(var)

# checkin type

print(type(var))

# get or access any element

print(var[2])  # 2 is index ans will be 6

# we can change index according to ourselves ,by using index= fxn 

print("Changed index")
var = pd.Series(x,index=['a','b','c','d'])
print(var)

# we can change the datatype using dtype function.

print("Changed datatype")
var = pd.Series(x,index=['a','b','c','d'],dtype=float)
print(var)

# we can give a Name parameter to our data by which data will be given a name

print("Name Given" )
var = pd.Series(x,index=['a','b','c','d'],dtype=float,name="Python")
print(var)

0     3
1    45
2     6
3    67
dtype: int64
<class 'pandas.core.series.Series'>
6
Changed index
a     3
b    45
c     6
d    67
dtype: int64
Changed datatype
a     3.0
b    45.0
c     6.0
d    67.0
dtype: float64
Name Given
a     3.0
b    45.0
c     6.0
d    67.0
Name: Python, dtype: float64

In [ ]:
# We can use any type of data types or data sets in Series Dataset

dict = {"name":["Ayush","Dave","Ram"],"pop":[1,2,5,6],"Rank":[1,4,3,5]}
var1 = pd.Series(dict,name="Ranking")
var1

# when we use mix data dType will be 'object'd

name    [Ayush, Dave, Ram]
pop           [1, 2, 5, 6]
Rank          [1, 4, 3, 5]
Name: Ranking, dtype: object

In [21]:
# We can make a Series from a single data.

ex = pd.Series(12)
print(ex)
print(type(ex))

# We can make a Series fo multiple block by a Single Data, we just have to give indices

s = pd.Series(12,index=[1,2,3,4,5,6,7,8,9])
print(s)
print(type(s))

0    12
dtype: int64
<class 'pandas.core.series.Series'>
1    12
2    12
3    12
4    12
5    12
6    12
7    12
8    12
9    12
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
s1 = pd.Series(12,index=[1,2,3,4,5,6,7,8,9])
s2 = pd.Series(12,index=[1,2,3,4,5])

# when we addon both series the task will be performed, jese 4 tak k data equal h to 4 tak addOn ho jayenge and baki none de dega
# but in num py it will give a broadcast error

print(s1+s2)

# Panda missing data k sath v task perform krta hai.

1    24.0
2    24.0
3    24.0
4    24.0
5    24.0
6     NaN
7     NaN
8     NaN
9     NaN
dtype: float64