# Merge

In [ ]:
import pandas as pd

# Merge : Merge krne k liye ek part dono dataframe mai same hona chahiye jise id kehte hai.

#  Agr ek column k elements alag hai to common elements choose kiye jate hai./

var1 = pd.DataFrame({"Name": ["Ayuhs","dave","Sara","John"],"Age":[22,12,24,22]})
var2 = pd.DataFrame({"Name": ["Ayuhs","dave","Manisha","John"],"City":["Uk","Mp","Ap","Hp"]})



pd.merge(var2,var1,on="Name")

# How parameter : uses for reperesenting missing data  how = inner or left or right or outer

pd.merge(var1,var2,how="right") # right vale var ka all data.
pd.merge(var1,var2,how="outer") # for all data



# for checking which data is present or not : use "indicator"= True  parameter
#  
pd.merge(var1,var2,how="outer",indicator=True)

      Name   Age City      _merge
0    Ayuhs  22.0   Uk        both
1     John  22.0   Hp        both
2  Manisha   NaN   Ap  right_only
3     Sara  24.0  NaN   left_only
4     dave  12.0   Mp        both

In [5]:
#  if both columns are same  : then use 'left_index' = True , 'right_index'=True parameter to see all data .and we can give b=new name to these columns by 'suffixes' parameter 

var1 = pd.DataFrame({"Name": ["Ayuhs","dave","Sara","John"],"Age":[22,12,24,22]})
var2 = pd.DataFrame({"Name": ["Ayuhs","dave","Manisha","John"],"Age":["Uk","Mp","Ap","Hp"]})

pd.merge(var1,var2,left_index=True,right_index=True,suffixes=("name","id"))

  Namename  Agename   Nameid Ageid
0    Ayuhs       22    Ayuhs    Uk
1     dave       12     dave    Mp
2     Sara       24  Manisha    Ap
3     John       22     John    Hp

# Concat

In [ ]:
# Concat uses for join two series or dataframe.

#  merge() is used for joining data frames based on a common column or index, concat() is used for concatenating data frames either vertically or horizontally.

# In cancat fxn we gives data in list []

sr1 = pd.Series([1,2,3,4,5])
sr2 = pd.Series([11,12,13,14,15])

pd.concat([sr1,sr2])

0     1
1     2
2     3
3     4
4     5
0    11
1    12
2    13
3    14
4    15
dtype: int64

In [26]:
d1 = pd.DataFrame({"Name": ["Ayuhs","dave","Sara","John"],"Age":[22,12,24,22]})
d2 = pd.DataFrame({"N": ["Ayuhs","John"],"City":["Uk","Hp"]})

# concat dataframes 

pd.concat([d1,d2])

# merge according to the axis .

pd.concat([d1,d2],axis=1) # axis = 1, merge according to the column.

# we can remoce NaN : use "join=outer or inner" parameter , outer shows union and inner shows intersection

pd.concat([d1,d2],axis=1,join="inner")

    Name  Age      N City
0  Ayuhs   22  Ayuhs   Uk
1   dave   12   John   Hp

In [ ]:
# "key" parameter : uses for  making key for merging data


df1 = pd.DataFrame({"Name": ["Ayuhs","dave","Sara","John"],"Age":[22,12,24,22]})
df2 = pd.DataFrame({"Name": ["Ayuhs","dave","Manisha","John"],"City":["Uk","Mp","Ap","Hp"]})

pd.concat([d1,d2],axis=1,keys=["d1","d2"])

      d1         d2
    Name Age      N City
0  Ayuhs  22  Ayuhs   Uk
1   dave  12   John   Hp
2   Sara  24    NaN  NaN
3   John  22    NaN  NaN