# JOIN

In [ ]:
import pandas as pd

#  Join fxn : used for joining two data frames , it works properly if we have unmatched data.

var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]},index=["a",'b','c','d'])
var2 = pd.DataFrame({"C":[10,20],"D":[11,22]},index=["a",'b'])

var1.join(var2)

# if we want to give coustomizd index we have to give it to both dataframes.

var2.join(var1)

# if we want to data according to ourself : use 'how' parameter

var2.join(var1,how="cross") # cartisian project
var2.join(var1,how="outer") # union
var2.join(var1,how="inner") # intersectionz
var2.join(var1,how="right") # according to var1

      C     D  A   B
a  10.0  11.0  1  11
b  20.0  22.0  2  12
c   NaN   NaN  3  13
d   NaN   NaN  4  14

In [ ]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]},index=["a",'b','c','d'])
var2 = pd.DataFrame({"C":[10,20],"B":[11,22]},index=["a",'b'])

# if we have same column name then : use suffix parameter, through suffix name we can change column name during runtime

var1.join(var2,how="outer" , lsuffix="_1",rsuffix="_2") # for left(var1) use lsuffix and rsuffix for right one

   A  B_1     C   B_2
a  1   11  10.0  11.0
b  2   12  20.0  22.0
c  3   13   NaN   NaN
d  4   14   NaN   NaN

# Append

In [ ]:
 # Append fxn is used to add dataframes : it is different from join fxn ,here 
# we can join  data frame with same column name.without an error

var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]},index=["a",'b','c','d'])
var2 = pd.DataFrame({"C":[10,20],"B":[11,22]},index=["a",'b'])

# var1.append(var2) append is removed

AttributeError: 'DataFrame' object has no attribute 'append'