# Insert

In [7]:
import pandas as pd

var = pd.DataFrame({"A": [1,2,3,4,5,6] ,"B": [7,8,9,1,2,3]})
var

# We will use insert function for inseting data. It takes 3 parameters index,position and value.
# Length of Data must be equal.

var.insert(1,"Py",var["A"])  # Duplicate copy of A

var.insert(2,"Py1",[11,12,13,14,15,16]) 

var

   A  Py  Py1  B
0  1   1   11  7
1  2   2   12  8
2  3   3   13  9
3  4   4   14  1
4  5   5   15  2
5  6   6   16  3

In [8]:
# when we need limited amount of Data. using Slicing

var = pd.DataFrame({"A": [1,2,3,4,5,6] ,"B": [7,8,9,1,2,3]})

var["py12"] = var["A"][:3]
var

   A  B  py12
0  1  7   1.0
1  2  8   2.0
2  3  9   3.0
3  4  1   NaN
4  5  2   NaN
5  6  3   NaN

# DELETE

In [12]:
var = pd.DataFrame({"A": [1,2,3,4,5,6] ,"B": [7,8,9,1,2,3],"C": [7,81,9,1,12,2]})

# Deleting using POP fxn :

var1 = var.pop("B")
var1
print(var)

# Using Del Fxn or keyword :

del var["A"]
var

   A   C
0  1   7
1  2  81
2  3   9
3  4   1
4  5  12
5  6   2

    C
0   7
1  81
2   9
3   1
4  12
5   2