# Read Csv File

In [2]:
# for modifying or changing a large number of data which is in csv file we use pythonor panda.

import pandas as pd

# Read CSV => var = pd.read_csv("path\name.csv") 
# use double backslash at the starting and where sigle backslash is!

csv_1 = pd.read_csv("C:\\PythonProjects\\Jupyter_Projects\\students_large.csv")

print(csv_1)

   StudentID       Name  Age Department  Maths  Physics  Chemistry       City
0       S001   Student1   24         ME     69       53         80     Mumbai
1       S002   Student2   25         ME     96       83        100    Kolkata
2       S003   Student3   22         EE     58       87         50    Chennai
3       S004   Student4   24        ECE     74      100         93    Chennai
4       S005   Student5   19         CE     80       78         94     Mumbai
5       S006   Student6   24         IT     64      100         73    Chennai
6       S007   Student7   19         CE     56       93         78  Bangalore
7       S008   Student8   23         IT     88       72         85    Kolkata
8       S009   Student9   21         IT     77       65         66    Kolkata
9       S010  Student10   22        ECE     67       68         85    Kolkata
10      S011  Student11   21         IT     67       80         88      Delhi
11      S012  Student12   20         ME     71       56         63     Mumbai
12      S013  Student13   18         EE     64       58         92  Bangalore
13      S014  Student14   25         ME     89       89         99    Kolkata
14      S015  Student15   24         EE     88       89         92    Chennai
15      S016  Student16   23         CS     60       86         63    Kolkata
16      S017  Student17   25         EE     93       62         51  Hyderabad
17      S018  Student18   20         CS     77       50         72    Chennai
18      S019  Student19   18        ECE     73       96         66  Bangalore
19      S020  Student20   19         IT     91       69         95  Hyderabad
20      S021  Student21   20         IT     90       69         70    Chennai
21      S022  Student22   23         CE     87       80         67     Mumbai
22      S023  Student23   20         ME     56       62         64    Kolkata
23      S024  Student24   18         CS     85       91         83    Kolkata
24      S025  Student25   19         EE     54       86         50  Bangalore
25      S026  Student26   21        ECE     71       60         87  Hyderabad
26      S027  Student27   22        ECE     63       58         74  Bangalore
27      S028  Student28   19         IT     92       55         54    Kolkata
28      S029  Student29   25         EE     98       62         53  Bangalore
29      S030  Student30   23         ME     59       65         65      Delhi
30      S031  Student31   18         CE     86       81         91    Kolkata
31      S032  Student32   25         EE     88       51         66  Bangalore
32      S033  Student33   19         EE     58       71         76      Delhi
33      S034  Student34   19         CE     72       79         89  Bangalore
34      S035  Student35   21         CE     66       91         92  Hyderabad
35      S036  Student36   21         CS     70      100         65    Kolkata
36      S037  Student37   24         CS     88       70         93  Hyderabad
37      S038  Student38   20         ME     96       94         84    Chennai
38      S039  Student39   20         IT     63       86         68    Kolkata
39      S040  Student40   21         EE     95       88         93    Kolkata
40      S041  Student41   18        ECE     80       55         67    Kolkata
41      S042  Student42   23         ME     80       58         54    Chennai
42      S043  Student43   22         ME     86       66         56     Mumbai
43      S044  Student44   21         ME     87       51         84    Kolkata
44      S045  Student45   24         IT     97       78         78    Kolkata
45      S046  Student46   24         ME     86       77         99  Bangalore
46      S047  Student47   23         ME     95       80         57    Kolkata
47      S048  Student48   24         EE     62       91         69     Mumbai
48      S049  Student49   18        ECE     64       96         76  Bangalore
49      S050  Student50   20         CE     60       71         57  Hyderabad

In [36]:
# Get rows to the particular indices :  using "nrows= " attribute.

csv_2 = pd.read_csv("C:\\PythonProjects\\Jupyter_Projects\\students_large.csv",nrows= 12)

print(csv_2)

#  Get Particular column : using "usecols=["Age","name"]  or usecols =[0,1,2]" attribute

csv_3 = pd.read_csv("C:\\PythonProjects\\Jupyter_Projects\\students_large.csv",nrows= 12, usecols= [1,2,3])

print(csv_3)

   StudentID       Name  Age Department  Maths  Physics  Chemistry       City
0       S001   Student1   24         ME     69       53         80     Mumbai
1       S002   Student2   25         ME     96       83        100    Kolkata
2       S003   Student3   22         EE     58       87         50    Chennai
3       S004   Student4   24        ECE     74      100         93    Chennai
4       S005   Student5   19         CE     80       78         94     Mumbai
5       S006   Student6   24         IT     64      100         73    Chennai
6       S007   Student7   19         CE     56       93         78  Bangalore
7       S008   Student8   23         IT     88       72         85    Kolkata
8       S009   Student9   21         IT     77       65         66    Kolkata
9       S010  Student10   22        ECE     67       68         85    Kolkata
10      S011  Student11   21         IT     67       80         88      Delhi
11      S012  Student12   20         ME     71       56         63     Mumbai
         Name  Age Department
0    Student1   24         ME
1    Student2   25         ME
2    Student3   22         EE
3    Student4   24        ECE
4    Student5   19         CE
5    Student6   24         IT
6    Student7   19         CE
7    Student8   23         IT
8    Student9   21         IT
9   Student10   22        ECE
10  Student11   21         IT
11  Student12   20         ME

In [ ]:
# Skip any row : use skiprows=[] or skiprows = reange(5,25)

csv_4 = pd.read_csv("C:\\PythonProjects\\Jupyter_Projects\\students_large.csv" , skiprows=[0,1,2,3,4,5])
print(csv_4)

    S006   Student6  24   IT  64  100  73    Chennai
0   S007   Student7  19   CE  56   93  78  Bangalore
1   S008   Student8  23   IT  88   72  85    Kolkata
2   S009   Student9  21   IT  77   65  66    Kolkata
3   S010  Student10  22  ECE  67   68  85    Kolkata
4   S011  Student11  21   IT  67   80  88      Delhi
5   S012  Student12  20   ME  71   56  63     Mumbai
6   S013  Student13  18   EE  64   58  92  Bangalore
7   S014  Student14  25   ME  89   89  99    Kolkata
8   S015  Student15  24   EE  88   89  92    Chennai
9   S016  Student16  23   CS  60   86  63    Kolkata
10  S017  Student17  25   EE  93   62  51  Hyderabad
11  S018  Student18  20   CS  77   50  72    Chennai
12  S019  Student19  18  ECE  73   96  66  Bangalore
13  S020  Student20  19   IT  91   69  95  Hyderabad
14  S021  Student21  20   IT  90   69  70    Chennai
15  S022  Student22  23   CE  87   80  67     Mumbai
16  S023  Student23  20   ME  56   62  64    Kolkata
17  S024  Student24  18   CS  85   91  83    Kolkata
18  S025  Student25  19   EE  54   86  50  Bangalore
19  S026  Student26  21  ECE  71   60  87  Hyderabad
20  S027  Student27  22  ECE  63   58  74  Bangalore
21  S028  Student28  19   IT  92   55  54    Kolkata
22  S029  Student29  25   EE  98   62  53  Bangalore
23  S030  Student30  23   ME  59   65  65      Delhi
24  S031  Student31  18   CE  86   81  91    Kolkata
25  S032  Student32  25   EE  88   51  66  Bangalore
26  S033  Student33  19   EE  58   71  76      Delhi
27  S034  Student34  19   CE  72   79  89  Bangalore
28  S035  Student35  21   CE  66   91  92  Hyderabad
29  S036  Student36  21   CS  70  100  65    Kolkata
30  S037  Student37  24   CS  88   70  93  Hyderabad
31  S038  Student38  20   ME  96   94  84    Chennai
32  S039  Student39  20   IT  63   86  68    Kolkata
33  S040  Student40  21   EE  95   88  93    Kolkata
34  S041  Student41  18  ECE  80   55  67    Kolkata
35  S042  Student42  23   ME  80   58  54    Chennai
36  S043  Student43  22   ME  86   66  56     Mumbai
37  S044  Student44  21   ME  87   51  84    Kolkata
38  S045  Student45  24   IT  97   78  78    Kolkata
39  S046  Student46  24   ME  86   77  99  Bangalore
40  S047  Student47  23   ME  95   80  57    Kolkata
41  S048  Student48  24   EE  62   91  69     Mumbai
42  S049  Student49  18  ECE  64   96  76  Bangalore
43  S050  Student50  20   CE  60   71  57  Hyderabad

In [48]:
# Change any column into index   : using Index_col

csv_5 = pd.read_csv("C:\\PythonProjects\\Jupyter_Projects\\students_large.csv" , index_col="City")
print(csv_5)

# Make header or change header : using parameter "header"= row number


print("header changed")
csv_6 = pd.read_csv("C:\\PythonProjects\\Jupyter_Projects\\students_large.csv"  , header=5 , usecols=[5] , skiprows= range(5,30))

print(csv_6)

          StudentID       Name  Age Department  Maths  Physics  Chemistry
City
Mumbai         S001   Student1   24         ME     69       53         80
Kolkata        S002   Student2   25         ME     96       83        100
Chennai        S003   Student3   22         EE     58       87         50
Chennai        S004   Student4   24        ECE     74      100         93
Mumbai         S005   Student5   19         CE     80       78         94
Chennai        S006   Student6   24         IT     64      100         73
Bangalore      S007   Student7   19         CE     56       93         78
Kolkata        S008   Student8   23         IT     88       72         85
Kolkata        S009   Student9   21         IT     77       65         66
Kolkata        S010  Student10   22        ECE     67       68         85
Delhi          S011  Student11   21         IT     67       80         88
Mumbai         S012  Student12   20         ME     71       56         63
Bangalore      S013  Student13   18         EE     64       58         92
Kolkata        S014  Student14   25         ME     89       89         99
Chennai        S015  Student15   24         EE     88       89         92
Kolkata        S016  Student16   23         CS     60       86         63
Hyderabad      S017  Student17   25         EE     93       62         51
Chennai        S018  Student18   20         CS     77       50         72
Bangalore      S019  Student19   18        ECE     73       96         66
Hyderabad      S020  Student20   19         IT     91       69         95
Chennai        S021  Student21   20         IT     90       69         70
Mumbai         S022  Student22   23         CE     87       80         67
Kolkata        S023  Student23   20         ME     56       62         64
Kolkata        S024  Student24   18         CS     85       91         83
Bangalore      S025  Student25   19         EE     54       86         50
Hyderabad      S026  Student26   21        ECE     71       60         87
Bangalore      S027  Student27   22        ECE     63       58         74
Kolkata        S028  Student28   19         IT     92       55         54
Bangalore      S029  Student29   25         EE     98       62         53
Delhi          S030  Student30   23         ME     59       65         65
Kolkata        S031  Student31   18         CE     86       81         91
Bangalore      S032  Student32   25         EE     88       51         66
Delhi          S033  Student33   19         EE     58       71         76
Bangalore      S034  Student34   19         CE     72       79         89
Hyderabad      S035  Student35   21         CE     66       91         92
Kolkata        S036  Student36   21         CS     70      100         65
Hyderabad      S037  Student37   24         CS     88       70         93
Chennai        S038  Student38   20         ME     96       94         84
Kolkata        S039  Student39   20         IT     63       86         68
Kolkata        S040  Student40   21         EE     95       88         93
Kolkata        S041  Student41   18        ECE     80       55         67
Chennai        S042  Student42   23         ME     80       58         54
Mumbai         S043  Student43   22         ME     86       66         56
Kolkata        S044  Student44   21         ME     87       51         84
Kolkata        S045  Student45   24         IT     97       78         78
Bangalore      S046  Student46   24         ME     86       77         99
Kolkata        S047  Student47   23         ME     95       80         57
Mumbai         S048  Student48   24         EE     62       91         69
Bangalore      S049  Student49   18        ECE     64       96         76
Hyderabad      S050  Student50   20         CE     60       71         57
header changed
     65
0    81
1    51
2    71
3    79
4    91
5   100
6    70
7    94
8    86
9    88
10   55
11   58
12   66
13   51
14   78
15   77
16   80
17   91
18   96
19   71

In [54]:
# Change name of header : using name parameter name = []

csv_5 = pd.read_csv("C:\\PythonProjects\\Jupyter_Projects\\students_large.csv" , names=["Col1","Col2","Col3","Col4","Col5","Col6","Col7","Col8"])
print(csv_5)

         Col1       Col2 Col3        Col4   Col5     Col6       Col7  \
0   StudentID       Name  Age  Department  Maths  Physics  Chemistry
1        S001   Student1   24          ME     69       53         80
2        S002   Student2   25          ME     96       83        100
3        S003   Student3   22          EE     58       87         50
4        S004   Student4   24         ECE     74      100         93
5        S005   Student5   19          CE     80       78         94
6        S006   Student6   24          IT     64      100         73
7        S007   Student7   19          CE     56       93         78
8        S008   Student8   23          IT     88       72         85
9        S009   Student9   21          IT     77       65         66
10       S010  Student10   22         ECE     67       68         85
11       S011  Student11   21          IT     67       80         88
12       S012  Student12   20          ME     71       56         63
13       S013  Student13   18          EE     64       58         92
14       S014  Student14   25          ME     89       89         99
15       S015  Student15   24          EE     88       89         92
16       S016  Student16   23          CS     60       86         63
17       S017  Student17   25          EE     93       62         51
18       S018  Student18   20          CS     77       50         72
19       S019  Student19   18         ECE     73       96         66
20       S020  Student20   19          IT     91       69         95
21       S021  Student21   20          IT     90       69         70
22       S022  Student22   23          CE     87       80         67
23       S023  Student23   20          ME     56       62         64
24       S024  Student24   18          CS     85       91         83
25       S025  Student25   19          EE     54       86         50
26       S026  Student26   21         ECE     71       60         87
27       S027  Student27   22         ECE     63       58         74
28       S028  Student28   19          IT     92       55         54
29       S029  Student29   25          EE     98       62         53
30       S030  Student30   23          ME     59       65         65
31       S031  Student31   18          CE     86       81         91
32       S032  Student32   25          EE     88       51         66
33       S033  Student33   19          EE     58       71         76
34       S034  Student34   19          CE     72       79         89
35       S035  Student35   21          CE     66       91         92
36       S036  Student36   21          CS     70      100         65
37       S037  Student37   24          CS     88       70         93
38       S038  Student38   20          ME     96       94         84
39       S039  Student39   20          IT     63       86         68
40       S040  Student40   21          EE     95       88         93
41       S041  Student41   18         ECE     80       55         67
42       S042  Student42   23          ME     80       58         54
43       S043  Student43   22          ME     86       66         56
44       S044  Student44   21          ME     87       51         84
45       S045  Student45   24          IT     97       78         78
46       S046  Student46   24          ME     86       77         99
47       S047  Student47   23          ME     95       80         57
48       S048  Student48   24          EE     62       91         69
49       S049  Student49   18         ECE     64       96         76
50       S050  Student50   20          CE     60       71         57

         Col8
0        City
1      Mumbai
2     Kolkata
3     Chennai
4     Chennai
5      Mumbai
6     Chennai
7   Bangalore
8     Kolkata
9     Kolkata
10    Kolkata
11      Delhi
12     Mumbai
13  Bangalore
14    Kolkata
15    Chennai
16    Kolkata
17  Hyderabad
18    Chennai
19  Bangalore
20  Hyderabad
21    Chennai
22     Mumbai
23    Kolkata
24    Kolkata
25  Bangalore
26  Hyderabad
27  Bangalore
28    Kolkata
29  Bangalore
30      Delhi
31    Kolkata
32  Bangalore
33      Delhi
34  Bangalore
35  Hyderabad
36    Kolkata
37  Hyderabad
38    Chennai
39    Kolkata
40    Kolkata
41    Kolkata
42    Chennai
43     Mumbai
44    Kolkata
45    Kolkata
46  Bangalore
47    Kolkata
48     Mumbai
49  Bangalore
50  Hyderabad

In [ ]:
# prefix parameter : error is showing ,That’s because in newer versions of Pandas (>=2.0), the prefix argument was removed from read_csv().

csv_6 = pd.read_csv("C:\\PythonProjects\\Jupyter_Projects\\students_large.csv" , header=None )

# another way 
csv_6.columns = [f"Col{i}" for i in range(csv_6.shape[1])]  

#csv_6.shape[0] → number of rows
#csv_6.shape[1] → number of columns

print(csv_6)

         Col0       Col1 Col2        Col3   Col4     Col5       Col6  \
0   StudentID       Name  Age  Department  Maths  Physics  Chemistry
1        S001   Student1   24          ME     69       53         80
2        S002   Student2   25          ME     96       83        100
3        S003   Student3   22          EE     58       87         50
4        S004   Student4   24         ECE     74      100         93
5        S005   Student5   19          CE     80       78         94
6        S006   Student6   24          IT     64      100         73
7        S007   Student7   19          CE     56       93         78
8        S008   Student8   23          IT     88       72         85
9        S009   Student9   21          IT     77       65         66
10       S010  Student10   22         ECE     67       68         85
11       S011  Student11   21          IT     67       80         88
12       S012  Student12   20          ME     71       56         63
13       S013  Student13   18          EE     64       58         92
14       S014  Student14   25          ME     89       89         99
15       S015  Student15   24          EE     88       89         92
16       S016  Student16   23          CS     60       86         63
17       S017  Student17   25          EE     93       62         51
18       S018  Student18   20          CS     77       50         72
19       S019  Student19   18         ECE     73       96         66
20       S020  Student20   19          IT     91       69         95
21       S021  Student21   20          IT     90       69         70
22       S022  Student22   23          CE     87       80         67
23       S023  Student23   20          ME     56       62         64
24       S024  Student24   18          CS     85       91         83
25       S025  Student25   19          EE     54       86         50
26       S026  Student26   21         ECE     71       60         87
27       S027  Student27   22         ECE     63       58         74
28       S028  Student28   19          IT     92       55         54
29       S029  Student29   25          EE     98       62         53
30       S030  Student30   23          ME     59       65         65
31       S031  Student31   18          CE     86       81         91
32       S032  Student32   25          EE     88       51         66
33       S033  Student33   19          EE     58       71         76
34       S034  Student34   19          CE     72       79         89
35       S035  Student35   21          CE     66       91         92
36       S036  Student36   21          CS     70      100         65
37       S037  Student37   24          CS     88       70         93
38       S038  Student38   20          ME     96       94         84
39       S039  Student39   20          IT     63       86         68
40       S040  Student40   21          EE     95       88         93
41       S041  Student41   18         ECE     80       55         67
42       S042  Student42   23          ME     80       58         54
43       S043  Student43   22          ME     86       66         56
44       S044  Student44   21          ME     87       51         84
45       S045  Student45   24          IT     97       78         78
46       S046  Student46   24          ME     86       77         99
47       S047  Student47   23          ME     95       80         57
48       S048  Student48   24          EE     62       91         69
49       S049  Student49   18         ECE     64       96         76
50       S050  Student50   20          CE     60       71         57

         Col7
0        City
1      Mumbai
2     Kolkata
3     Chennai
4     Chennai
5      Mumbai
6     Chennai
7   Bangalore
8     Kolkata
9     Kolkata
10    Kolkata
11      Delhi
12     Mumbai
13  Bangalore
14    Kolkata
15    Chennai
16    Kolkata
17  Hyderabad
18    Chennai
19  Bangalore
20  Hyderabad
21    Chennai
22     Mumbai
23    Kolkata
24    Kolkata
25  Bangalore
26  Hyderabad
27  Bangalore
28    Kolkata
29  Bangalore
30      Delhi
31    Kolkata
32  Bangalore
33      Delhi
34  Bangalore
35  Hyderabad
36    Kolkata
37  Hyderabad
38    Chennai
39    Kolkata
40    Kolkata
41    Kolkata
42    Chennai
43     Mumbai
44    Kolkata
45    Kolkata
46  Bangalore
47    Kolkata
48     Mumbai
49  Bangalore
50  Hyderabad

In [16]:
# Make int to Float Data : using "dtype= []" parameter.

csv_1 = pd.read_csv("C:\\PythonProjects\\Jupyter_Projects\\students_large.csv", dtype={"Maths": "float" ,"Physics":"float","Chemistry":"float"})

print(csv_1)

   StudentID       Name  Age Department  Maths  Physics  Chemistry       City
0       S001   Student1   24         ME   69.0     53.0       80.0     Mumbai
1       S002   Student2   25         ME   96.0     83.0      100.0    Kolkata
2       S003   Student3   22         EE   58.0     87.0       50.0    Chennai
3       S004   Student4   24        ECE   74.0    100.0       93.0    Chennai
4       S005   Student5   19         CE   80.0     78.0       94.0     Mumbai
5       S006   Student6   24         IT   64.0    100.0       73.0    Chennai
6       S007   Student7   19         CE   56.0     93.0       78.0  Bangalore
7       S008   Student8   23         IT   88.0     72.0       85.0    Kolkata
8       S009   Student9   21         IT   77.0     65.0       66.0    Kolkata
9       S010  Student10   22        ECE   67.0     68.0       85.0    Kolkata
10      S011  Student11   21         IT   67.0     80.0       88.0      Delhi
11      S012  Student12   20         ME   71.0     56.0       63.0     Mumbai
12      S013  Student13   18         EE   64.0     58.0       92.0  Bangalore
13      S014  Student14   25         ME   89.0     89.0       99.0    Kolkata
14      S015  Student15   24         EE   88.0     89.0       92.0    Chennai
15      S016  Student16   23         CS   60.0     86.0       63.0    Kolkata
16      S017  Student17   25         EE   93.0     62.0       51.0  Hyderabad
17      S018  Student18   20         CS   77.0     50.0       72.0    Chennai
18      S019  Student19   18        ECE   73.0     96.0       66.0  Bangalore
19      S020  Student20   19         IT   91.0     69.0       95.0  Hyderabad
20      S021  Student21   20         IT   90.0     69.0       70.0    Chennai
21      S022  Student22   23         CE   87.0     80.0       67.0     Mumbai
22      S023  Student23   20         ME   56.0     62.0       64.0    Kolkata
23      S024  Student24   18         CS   85.0     91.0       83.0    Kolkata
24      S025  Student25   19         EE   54.0     86.0       50.0  Bangalore
25      S026  Student26   21        ECE   71.0     60.0       87.0  Hyderabad
26      S027  Student27   22        ECE   63.0     58.0       74.0  Bangalore
27      S028  Student28   19         IT   92.0     55.0       54.0    Kolkata
28      S029  Student29   25         EE   98.0     62.0       53.0  Bangalore
29      S030  Student30   23         ME   59.0     65.0       65.0      Delhi
30      S031  Student31   18         CE   86.0     81.0       91.0    Kolkata
31      S032  Student32   25         EE   88.0     51.0       66.0  Bangalore
32      S033  Student33   19         EE   58.0     71.0       76.0      Delhi
33      S034  Student34   19         CE   72.0     79.0       89.0  Bangalore
34      S035  Student35   21         CE   66.0     91.0       92.0  Hyderabad
35      S036  Student36   21         CS   70.0    100.0       65.0    Kolkata
36      S037  Student37   24         CS   88.0     70.0       93.0  Hyderabad
37      S038  Student38   20         ME   96.0     94.0       84.0    Chennai
38      S039  Student39   20         IT   63.0     86.0       68.0    Kolkata
39      S040  Student40   21         EE   95.0     88.0       93.0    Kolkata
40      S041  Student41   18        ECE   80.0     55.0       67.0    Kolkata
41      S042  Student42   23         ME   80.0     58.0       54.0    Chennai
42      S043  Student43   22         ME   86.0     66.0       56.0     Mumbai
43      S044  Student44   21         ME   87.0     51.0       84.0    Kolkata
44      S045  Student45   24         IT   97.0     78.0       78.0    Kolkata
45      S046  Student46   24         ME   86.0     77.0       99.0  Bangalore
46      S047  Student47   23         ME   95.0     80.0       57.0    Kolkata
47      S048  Student48   24         EE   62.0     91.0       69.0     Mumbai
48      S049  Student49   18        ECE   64.0     96.0       76.0  Bangalore
49      S050  Student50   20         CE   60.0     71.0       57.0  Hyderabad