# Panda Fumctions

In [3]:
import pandas as pd

csv_1 = pd.read_csv("C:\\PythonProjects\\Jupyter_Projects\\students_large.csv")
csv_1

# When we Want to get index number or index info : use ".index" fxn

csv_1.index

# # When we Want to get column number or column info : use ".columns" fxn

csv_1.columns

# when we want minValue , max value , count or any information : use "describe" fxn

csv_1.describe()

             Age      Maths     Physics   Chemistry
count  50.000000  50.000000   50.000000   50.000000
mean   21.420000  76.720000   75.120000   75.320000
std     2.304299  13.499872   14.968866   14.923533
min    18.000000  54.000000   50.000000   50.000000
25%    19.250000  64.000000   62.000000   65.000000
50%    21.000000  77.000000   77.500000   75.000000
75%    23.750000  88.000000   87.750000   88.750000
max    25.000000  98.000000  100.000000  100.000000

In [ ]:
# For get fixed amount of data from a larger data :  use

# head() fxn = gives data up to 5 from top or you can give parameter to head(2)
# tail() fxn = gives data up to 5 from bottom  

csv_1.head()

csv_1.tail()

   StudentID       Name  Age Department  Maths  Physics  Chemistry       City
45      S046  Student46   24         ME     86       77         99  Bangalore
46      S047  Student47   23         ME     95       80         57    Kolkata
47      S048  Student48   24         EE     62       91         69     Mumbai
48      S049  Student49   18        ECE     64       96         76  Bangalore
49      S050  Student50   20         CE     60       71         57  Hyderabad

In [18]:
# Get Data upto fixed column or row :  use slicing just like string

print(csv_1[25:29])

print(csv_1[:6])

print(csv_1[45:])

   StudentID       Name  Age Department  Maths  Physics  Chemistry       City
25      S026  Student26   21        ECE     71       60         87  Hyderabad
26      S027  Student27   22        ECE     63       58         74  Bangalore
27      S028  Student28   19         IT     92       55         54    Kolkata
28      S029  Student29   25         EE     98       62         53  Bangalore
  StudentID      Name  Age Department  Maths  Physics  Chemistry     City
0      S001  Student1   24         ME     69       53         80   Mumbai
1      S002  Student2   25         ME     96       83        100  Kolkata
2      S003  Student3   22         EE     58       87         50  Chennai
3      S004  Student4   24        ECE     74      100         93  Chennai
4      S005  Student5   19         CE     80       78         94   Mumbai
5      S006  Student6   24         IT     64      100         73  Chennai
   StudentID       Name  Age Department  Maths  Physics  Chemistry       City
45      S046  Student46   24         ME     86       77         99  Bangalore
46      S047  Student47   23         ME     95       80         57    Kolkata
47      S048  Student48   24         EE     62       91         69     Mumbai
48      S049  Student49   18        ECE     64       96         76  Bangalore
49      S050  Student50   20         CE     60       71         57  Hyderabad

In [23]:
# type :

print(type(csv_1))

# if you want to show index inside an array then : use "index.array"

csv_1.index.array

# Convert the data into 'numpy' array : use ".to_numpy" fxn

csv_1.to_numpy()

<class 'pandas.core.frame.DataFrame'>

array([['S001', 'Student1', 24, 'ME', 69, 53, 80, 'Mumbai'],
       ['S002', 'Student2', 25, 'ME', 96, 83, 100, 'Kolkata'],
       ['S003', 'Student3', 22, 'EE', 58, 87, 50, 'Chennai'],
       ['S004', 'Student4', 24, 'ECE', 74, 100, 93, 'Chennai'],
       ['S005', 'Student5', 19, 'CE', 80, 78, 94, 'Mumbai'],
       ['S006', 'Student6', 24, 'IT', 64, 100, 73, 'Chennai'],
       ['S007', 'Student7', 19, 'CE', 56, 93, 78, 'Bangalore'],
       ['S008', 'Student8', 23, 'IT', 88, 72, 85, 'Kolkata'],
       ['S009', 'Student9', 21, 'IT', 77, 65, 66, 'Kolkata'],
       ['S010', 'Student10', 22, 'ECE', 67, 68, 85, 'Kolkata'],
       ['S011', 'Student11', 21, 'IT', 67, 80, 88, 'Delhi'],
       ['S012', 'Student12', 20, 'ME', 71, 56, 63, 'Mumbai'],
       ['S013', 'Student13', 18, 'EE', 64, 58, 92, 'Bangalore'],
       ['S014', 'Student14', 25, 'ME', 89, 89, 99, 'Kolkata'],
       ['S015', 'Student15', 24, 'EE', 88, 89, 92, 'Chennai'],
       ['S016', 'Student16', 23, 'CS', 60, 86, 63, 'Kolkata'],
       ['S017', 'Student17', 25, 'EE', 93, 62, 51, 'Hyderabad'],
       ['S018', 'Student18', 20, 'CS', 77, 50, 72, 'Chennai'],
       ['S019', 'Student19', 18, 'ECE', 73, 96, 66, 'Bangalore'],
       ['S020', 'Student20', 19, 'IT', 91, 69, 95, 'Hyderabad'],
       ['S021', 'Student21', 20, 'IT', 90, 69, 70, 'Chennai'],
       ['S022', 'Student22', 23, 'CE', 87, 80, 67, 'Mumbai'],
       ['S023', 'Student23', 20, 'ME', 56, 62, 64, 'Kolkata'],
       ['S024', 'Student24', 18, 'CS', 85, 91, 83, 'Kolkata'],
       ['S025', 'Student25', 19, 'EE', 54, 86, 50, 'Bangalore'],
       ['S026', 'Student26', 21, 'ECE', 71, 60, 87, 'Hyderabad'],
       ['S027', 'Student27', 22, 'ECE', 63, 58, 74, 'Bangalore'],
       ['S028', 'Student28', 19, 'IT', 92, 55, 54, 'Kolkata'],
       ['S029', 'Student29', 25, 'EE', 98, 62, 53, 'Bangalore'],
       ['S030', 'Student30', 23, 'ME', 59, 65, 65, 'Delhi'],
       ['S031', 'Student31', 18, 'CE', 86, 81, 91, 'Kolkata'],
       ['S032', 'Student32', 25, 'EE', 88, 51, 66, 'Bangalore'],
       ['S033', 'Student33', 19, 'EE', 58, 71, 76, 'Delhi'],
       ['S034', 'Student34', 19, 'CE', 72, 79, 89, 'Bangalore'],
       ['S035', 'Student35', 21, 'CE', 66, 91, 92, 'Hyderabad'],
       ['S036', 'Student36', 21, 'CS', 70, 100, 65, 'Kolkata'],
       ['S037', 'Student37', 24, 'CS', 88, 70, 93, 'Hyderabad'],
       ['S038', 'Student38', 20, 'ME', 96, 94, 84, 'Chennai'],
       ['S039', 'Student39', 20, 'IT', 63, 86, 68, 'Kolkata'],
       ['S040', 'Student40', 21, 'EE', 95, 88, 93, 'Kolkata'],
       ['S041', 'Student41', 18, 'ECE', 80, 55, 67, 'Kolkata'],
       ['S042', 'Student42', 23, 'ME', 80, 58, 54, 'Chennai'],
       ['S043', 'Student43', 22, 'ME', 86, 66, 56, 'Mumbai'],
       ['S044', 'Student44', 21, 'ME', 87, 51, 84, 'Kolkata'],
       ['S045', 'Student45', 24, 'IT', 97, 78, 78, 'Kolkata'],
       ['S046', 'Student46', 24, 'ME', 86, 77, 99, 'Bangalore'],
       ['S047', 'Student47', 23, 'ME', 95, 80, 57, 'Kolkata'],
       ['S048', 'Student48', 24, 'EE', 62, 91, 69, 'Mumbai'],
       ['S049', 'Student49', 18, 'ECE', 64, 96, 76, 'Bangalore'],
       ['S050', 'Student50', 20, 'CE', 60, 71, 57, 'Hyderabad']],
      dtype=object)

In [ ]:
# making array of our file : using numpy and "asarray"() fxn

import numpy as np;


v = np.asarray(csv_1)
v

   StudentID       Name  Age Department  Maths  Physics  Chemistry       City
0       S001   Student1   24         ME     69       53         80     Mumbai
1       S002   Student2   25         ME     96       83        100    Kolkata
2       S003   Student3   22         EE     58       87         50    Chennai
3       S004   Student4   24        ECE     74      100         93    Chennai
4       S005   Student5   19         CE     80       78         94     Mumbai
5       S006   Student6   24         IT     64      100         73    Chennai
6       S007   Student7   19         CE     56       93         78  Bangalore
7       S008   Student8   23         IT     88       72         85    Kolkata
8       S009   Student9   21         IT     77       65         66    Kolkata
9       S010  Student10   22        ECE     67       68         85    Kolkata
10      S011  Student11   21         IT     67       80         88      Delhi
11      S012  Student12   20         ME     71       56         63     Mumbai
12      S013  Student13   18         EE     64       58         92  Bangalore
13      S014  Student14   25         ME     89       89         99    Kolkata
14      S015  Student15   24         EE     88       89         92    Chennai
15      S016  Student16   23         CS     60       86         63    Kolkata
16      S017  Student17   25         EE     93       62         51  Hyderabad
17      S018  Student18   20         CS     77       50         72    Chennai
18      S019  Student19   18        ECE     73       96         66  Bangalore
19      S020  Student20   19         IT     91       69         95  Hyderabad
20      S021  Student21   20         IT     90       69         70    Chennai
21      S022  Student22   23         CE     87       80         67     Mumbai
22      S023  Student23   20         ME     56       62         64    Kolkata
23      S024  Student24   18         CS     85       91         83    Kolkata
24      S025  Student25   19         EE     54       86         50  Bangalore
25      S026  Student26   21        ECE     71       60         87  Hyderabad
26      S027  Student27   22        ECE     63       58         74  Bangalore
27      S028  Student28   19         IT     92       55         54    Kolkata
28      S029  Student29   25         EE     98       62         53  Bangalore
29      S030  Student30   23         ME     59       65         65      Delhi
30      S031  Student31   18         CE     86       81         91    Kolkata
31      S032  Student32   25         EE     88       51         66  Bangalore
32      S033  Student33   19         EE     58       71         76      Delhi
33      S034  Student34   19         CE     72       79         89  Bangalore
34      S035  Student35   21         CE     66       91         92  Hyderabad
35      S036  Student36   21         CS     70      100         65    Kolkata
36      S037  Student37   24         CS     88       70         93  Hyderabad
37      S038  Student38   20         ME     96       94         84    Chennai
38      S039  Student39   20         IT     63       86         68    Kolkata
39      S040  Student40   21         EE     95       88         93    Kolkata
40      S041  Student41   18        ECE     80       55         67    Kolkata
41      S042  Student42   23         ME     80       58         54    Chennai
42      S043  Student43   22         ME     86       66         56     Mumbai
43      S044  Student44   21         ME     87       51         84    Kolkata
44      S045  Student45   24         IT     97       78         78    Kolkata
45      S046  Student46   24         ME     86       77         99  Bangalore
46      S047  Student47   23         ME     95       80         57    Kolkata
47      S048  Student48   24         EE     62       91         69     Mumbai
48      S049  Student49   18        ECE     64       96         76  Bangalore
49      S050  Student50   20         CE     60       71         57  Hyderabad

In [17]:
# Sort an array to decending order : using "sort_index(axis=, ascending=Flase)" fxn., axis = 0 means row wise sorting

csv_1.sort_index(axis=0,ascending = False)
csv_1

   StudentID       Name  Age Department  Maths  Physics  Chemistry       City
0       S001   Student1   24         ME     69       53         80     Mumbai
1       S002   Student2   25         ME     96       83        100    Kolkata
2       S003   Student3   22         EE     58       87         50    Chennai
3       S004   Student4   24        ECE     74      100         93    Chennai
4       S005   Student5   19         CE     80       78         94     Mumbai
5       S006   Student6   24         IT     64      100         73    Chennai
6       S007   Student7   19         CE     56       93         78  Bangalore
7       S008   Student8   23         IT     88       72         85    Kolkata
8       S009   Student9   21         IT     77       65         66    Kolkata
9       S010  Student10   22        ECE     67       68         85    Kolkata
10      S011  Student11   21         IT     67       80         88      Delhi
11      S012  Student12   20         ME     71       56         63     Mumbai
12      S013  Student13   18         EE     64       58         92  Bangalore
13      S014  Student14   25         ME     89       89         99    Kolkata
14      S015  Student15   24         EE     88       89         92    Chennai
15      S016  Student16   23         CS     60       86         63    Kolkata
16      S017  Student17   25         EE     93       62         51  Hyderabad
17      S018  Student18   20         CS     77       50         72    Chennai
18      S019  Student19   18        ECE     73       96         66  Bangalore
19      S020  Student20   19         IT     91       69         95  Hyderabad
20      S021  Student21   20         IT     90       69         70    Chennai
21      S022  Student22   23         CE     87       80         67     Mumbai
22      S023  Student23   20         ME     56       62         64    Kolkata
23      S024  Student24   18         CS     85       91         83    Kolkata
24      S025  Student25   19         EE     54       86         50  Bangalore
25      S026  Student26   21        ECE     71       60         87  Hyderabad
26      S027  Student27   22        ECE     63       58         74  Bangalore
27      S028  Student28   19         IT     92       55         54    Kolkata
28      S029  Student29   25         EE     98       62         53  Bangalore
29      S030  Student30   23         ME     59       65         65      Delhi
30      S031  Student31   18         CE     86       81         91    Kolkata
31      S032  Student32   25         EE     88       51         66  Bangalore
32      S033  Student33   19         EE     58       71         76      Delhi
33      S034  Student34   19         CE     72       79         89  Bangalore
34      S035  Student35   21         CE     66       91         92  Hyderabad
35      S036  Student36   21         CS     70      100         65    Kolkata
36      S037  Student37   24         CS     88       70         93  Hyderabad
37      S038  Student38   20         ME     96       94         84    Chennai
38      S039  Student39   20         IT     63       86         68    Kolkata
39      S040  Student40   21         EE     95       88         93    Kolkata
40      S041  Student41   18        ECE     80       55         67    Kolkata
41      S042  Student42   23         ME     80       58         54    Chennai
42      S043  Student43   22         ME     86       66         56     Mumbai
43      S044  Student44   21         ME     87       51         84    Kolkata
44      S045  Student45   24         IT     97       78         78    Kolkata
45      S046  Student46   24         ME     86       77         99  Bangalore
46      S047  Student47   23         ME     95       80         57    Kolkata
47      S048  Student48   24         EE     62       91         69     Mumbai
48      S049  Student49   18        ECE     64       96         76  Bangalore
49      S050  Student50   20         CE     60       71         57  Hyderabad

In [ ]:
# changing any data you want : using "loc[row,colm]" fxn

csv_1.loc[23,'Name'] = "Ayush"
csv_1

# we can get a particular data using loc fxn : loc[[row],[colm]]

csv_1.loc[[24,3] ,['Name','Age']]

csv_1.loc[:,["Age","Name"]]

csv_1.loc[[2,3],:]

# Get data using iloc fxn : .iloc[indexRow,indexColumn]

csv_1.iloc[2,3]

# Drop data from the file : usign "drop("ColumnName",axis)" fxn ,axis= 1 for column

csv_1.drop("Age",axis=1)  # column gayab axis = 1

csv_1.drop(1,axis=0) # row gayab axis=0

   StudentID       Name  Age Department  Maths  Physics  Chemistry       City
0       S001   Student1   24         ME     69       53         80     Mumbai
2       S003   Student3   22         EE     58       87         50    Chennai
3       S004   Student4   24        ECE     74      100         93    Chennai
4       S005   Student5   19         CE     80       78         94     Mumbai
5       S006   Student6   24         IT     64      100         73    Chennai
6       S007   Student7   19         CE     56       93         78  Bangalore
7       S008   Student8   23         IT     88       72         85    Kolkata
8       S009   Student9   21         IT     77       65         66    Kolkata
9       S010  Student10   22        ECE     67       68         85    Kolkata
10      S011  Student11   21         IT     67       80         88      Delhi
11      S012  Student12   20         ME     71       56         63     Mumbai
12      S013  Student13   18         EE     64       58         92  Bangalore
13      S014  Student14   25         ME     89       89         99    Kolkata
14      S015  Student15   24         EE     88       89         92    Chennai
15      S016  Student16   23         CS     60       86         63    Kolkata
16      S017  Student17   25         EE     93       62         51  Hyderabad
17      S018  Student18   20         CS     77       50         72    Chennai
18      S019  Student19   18        ECE     73       96         66  Bangalore
19      S020  Student20   19         IT     91       69         95  Hyderabad
20      S021  Student21   20         IT     90       69         70    Chennai
21      S022  Student22   23         CE     87       80         67     Mumbai
22      S023  Student23   20         ME     56       62         64    Kolkata
23      S024      Ayush   18         CS     85       91         83    Kolkata
24      S025  Student25   19         EE     54       86         50  Bangalore
25      S026  Student26   21        ECE     71       60         87  Hyderabad
26      S027  Student27   22        ECE     63       58         74  Bangalore
27      S028  Student28   19         IT     92       55         54    Kolkata
28      S029  Student29   25         EE     98       62         53  Bangalore
29      S030  Student30   23         ME     59       65         65      Delhi
30      S031  Student31   18         CE     86       81         91    Kolkata
31      S032  Student32   25         EE     88       51         66  Bangalore
32      S033  Student33   19         EE     58       71         76      Delhi
33      S034  Student34   19         CE     72       79         89  Bangalore
34      S035  Student35   21         CE     66       91         92  Hyderabad
35      S036  Student36   21         CS     70      100         65    Kolkata
36      S037  Student37   24         CS     88       70         93  Hyderabad
37      S038  Student38   20         ME     96       94         84    Chennai
38      S039  Student39   20         IT     63       86         68    Kolkata
39      S040  Student40   21         EE     95       88         93    Kolkata
40      S041  Student41   18        ECE     80       55         67    Kolkata
41      S042  Student42   23         ME     80       58         54    Chennai
42      S043  Student43   22         ME     86       66         56     Mumbai
43      S044  Student44   21         ME     87       51         84    Kolkata
44      S045  Student45   24         IT     97       78         78    Kolkata
45      S046  Student46   24         ME     86       77         99  Bangalore
46      S047  Student47   23         ME     95       80         57    Kolkata
47      S048  Student48   24         EE     62       91         69     Mumbai
48      S049  Student49   18        ECE     64       96         76  Bangalore
49      S050  Student50   20         CE     60       71         57  Hyderabad