DropNa & FillNa

In [1]:
# Handling Missing Data :

import pandas as pd

var = pd.read_csv("C:\\PythonProjects\\Jupyter_Projects\\students_large.csv")
var

   StudentID       Name   Age Department  Maths  Physics  Chemistry       City
0       S001   Student1  24.0         ME   69.0     53.0       80.0     Mumbai
1       S002   Student2  25.0         ME   96.0     83.0      100.0    Kolkata
2       S003   Student3  22.0         EE   58.0     87.0       50.0    Chennai
3       S004   Student4  24.0        NaN   74.0    100.0       93.0    Chennai
4       S005   Student5  19.0         CE   80.0     78.0       94.0     Mumbai
5       S006   Student6  24.0         IT   64.0    100.0       73.0    Chennai
6       S007   Student7  19.0         CE   56.0     93.0       78.0  Bangalore
7       S008   Student8  23.0         IT    NaN     72.0       85.0    Kolkata
8       S009        NaN  21.0         IT   77.0     65.0       66.0        NaN
9       S010  Student10  22.0        ECE   67.0     68.0       85.0    Kolkata
10      S011  Student11  21.0         IT   67.0     80.0       88.0      Delhi
11      S012  Student12  20.0         ME    NaN     56.0       63.0     Mumbai
12      S013  Student13   NaN         EE   64.0     58.0       92.0  Bangalore
13      S014  Student14  25.0         ME   89.0     89.0       99.0    Kolkata
14      S015  Student15  24.0         EE   88.0     89.0       92.0    Chennai
15      S016  Student16  23.0         CS   60.0     86.0       63.0    Kolkata
16      S017        NaN  25.0         EE   93.0     62.0       51.0  Hyderabad
17      S018  Student18  20.0         CS   77.0     50.0       72.0    Chennai
18      S019  Student19  18.0        NaN   73.0     96.0       66.0  Bangalore
19      S020  Student20  19.0         IT   91.0     69.0       95.0  Hyderabad
20      S021  Student21  20.0         IT   90.0     69.0       70.0    Chennai
21      S022  Student22  23.0         CE   87.0     80.0       67.0     Mumbai
22      S023  Student23  20.0         ME   56.0     62.0       64.0    Kolkata
23      S024        NaN  18.0         CS   85.0     91.0       83.0    Kolkata
24      S025  Student25  19.0         EE   54.0     86.0       50.0  Bangalore
25      S026  Student26  21.0        ECE   71.0     60.0       87.0  Hyderabad
26       NaN        NaN   NaN        NaN    NaN      NaN        NaN        NaN
27      S028  Student28  19.0         IT   92.0     55.0       54.0    Kolkata
28      S029  Student29  25.0         EE   98.0     62.0       53.0  Bangalore
29      S030  Student30  23.0         ME   59.0     65.0       65.0      Delhi
30      S031  Student31  18.0         CE   86.0     81.0       91.0    Kolkata
31      S032  Student32  25.0         EE   88.0     51.0       66.0  Bangalore
32      S033  Student33  19.0         EE   58.0     71.0       76.0      Delhi
33      S034  Student34  19.0         CE   72.0     79.0       89.0  Bangalore
34      S035  Student35  21.0         CE   66.0     91.0       92.0  Hyderabad
35      S036  Student36  21.0         CS   70.0    100.0       65.0    Kolkata
36      S037  Student37  24.0         CS   88.0     70.0       93.0  Hyderabad
37      S038  Student38  20.0         ME   96.0     94.0       84.0    Chennai
38      S039  Student39  20.0         IT   63.0     86.0       68.0    Kolkata
39      S040  Student40  21.0         EE   95.0     88.0       93.0    Kolkata
40      S041  Student41  18.0        ECE   80.0     55.0       67.0    Kolkata
41      S042  Student42  23.0         ME   80.0     58.0       54.0    Chennai
42      S043  Student43  22.0         ME   86.0     66.0       56.0     Mumbai
43      S044  Student44  21.0         ME   87.0     51.0       84.0    Kolkata
44      S045  Student45  24.0         IT   97.0     78.0       78.0    Kolkata
45      S046  Student46  24.0         ME   86.0     77.0       99.0  Bangalore
46      S047  Student47  23.0         ME   95.0     80.0       57.0    Kolkata
47      S048  Student48  24.0         EE   62.0     91.0       69.0     Mumbai
48      S049  Student49  18.0        ECE   64.0     96.0       76.0  Bangalore
49      S050  Student50  20.0         CE   60.0     71.0       57.0  Hyderabad

In [ ]:
# Drop missing Data : using 'dropna()' fxn

var.dropna()

# parameters in drop fxn :

# axis parameter for droping data along a axis like rows or columns. axis =1(along row),0 for along column


var.dropna(axis=1)

# remove row which is null for every column : use "how= 'any' or 'all' parameter

var.dropna(how='all') # use of "any" will remove every none value


# Removing null value along a particular column : use "subset=[]" Parameter.

var.dropna(subset=["City"])

# Remove null data and create a neew data  = using "inplace=" parameter

var.dropna(inplace=True)
var

# Thres parameter : remove column which only contains only one null value "thres = 1" for one null value 1 , for containing two null value use 2

var.dropna(thresh= 1)

   StudentID       Name   Age Department  Maths  Physics  Chemistry       City
0       S001   Student1  24.0         ME   69.0     53.0       80.0     Mumbai
1       S002   Student2  25.0         ME   96.0     83.0      100.0    Kolkata
2       S003   Student3  22.0         EE   58.0     87.0       50.0    Chennai
4       S005   Student5  19.0         CE   80.0     78.0       94.0     Mumbai
5       S006   Student6  24.0         IT   64.0    100.0       73.0    Chennai
6       S007   Student7  19.0         CE   56.0     93.0       78.0  Bangalore
9       S010  Student10  22.0        ECE   67.0     68.0       85.0    Kolkata
10      S011  Student11  21.0         IT   67.0     80.0       88.0      Delhi
13      S014  Student14  25.0         ME   89.0     89.0       99.0    Kolkata
14      S015  Student15  24.0         EE   88.0     89.0       92.0    Chennai
15      S016  Student16  23.0         CS   60.0     86.0       63.0    Kolkata
17      S018  Student18  20.0         CS   77.0     50.0       72.0    Chennai
19      S020  Student20  19.0         IT   91.0     69.0       95.0  Hyderabad
20      S021  Student21  20.0         IT   90.0     69.0       70.0    Chennai
21      S022  Student22  23.0         CE   87.0     80.0       67.0     Mumbai
22      S023  Student23  20.0         ME   56.0     62.0       64.0    Kolkata
24      S025  Student25  19.0         EE   54.0     86.0       50.0  Bangalore
25      S026  Student26  21.0        ECE   71.0     60.0       87.0  Hyderabad
27      S028  Student28  19.0         IT   92.0     55.0       54.0    Kolkata
28      S029  Student29  25.0         EE   98.0     62.0       53.0  Bangalore
29      S030  Student30  23.0         ME   59.0     65.0       65.0      Delhi
30      S031  Student31  18.0         CE   86.0     81.0       91.0    Kolkata
31      S032  Student32  25.0         EE   88.0     51.0       66.0  Bangalore
32      S033  Student33  19.0         EE   58.0     71.0       76.0      Delhi
33      S034  Student34  19.0         CE   72.0     79.0       89.0  Bangalore
34      S035  Student35  21.0         CE   66.0     91.0       92.0  Hyderabad
35      S036  Student36  21.0         CS   70.0    100.0       65.0    Kolkata
36      S037  Student37  24.0         CS   88.0     70.0       93.0  Hyderabad
37      S038  Student38  20.0         ME   96.0     94.0       84.0    Chennai
38      S039  Student39  20.0         IT   63.0     86.0       68.0    Kolkata
39      S040  Student40  21.0         EE   95.0     88.0       93.0    Kolkata
40      S041  Student41  18.0        ECE   80.0     55.0       67.0    Kolkata
41      S042  Student42  23.0         ME   80.0     58.0       54.0    Chennai
42      S043  Student43  22.0         ME   86.0     66.0       56.0     Mumbai
43      S044  Student44  21.0         ME   87.0     51.0       84.0    Kolkata
44      S045  Student45  24.0         IT   97.0     78.0       78.0    Kolkata
45      S046  Student46  24.0         ME   86.0     77.0       99.0  Bangalore
46      S047  Student47  23.0         ME   95.0     80.0       57.0    Kolkata
47      S048  Student48  24.0         EE   62.0     91.0       69.0     Mumbai
48      S049  Student49  18.0        ECE   64.0     96.0       76.0  Bangalore
49      S050  Student50  20.0         CE   60.0     71.0       57.0  Hyderabad

In [ ]:
# Fillna fxn : for filling null values :

var = pd.read_csv("C:\\PythonProjects\\Jupyter_Projects\\students_large.csv")
var

var.fillna("PYTHON-AYUSH")

# to fill a particular data of a particular column z: pass dict ans pass value as an key value pair

var.fillna({"Age":90,"Department":"Nothing","City":"No home"})

# fill the null value with previous or next following data : use "method=ffill or bfill" parameter 

var.fillna(method="ffill") # this method is deprecated for this version so use

var.ffill() # or var.bfill()

# fill along axis :

var.ffill(axis=0) # along row 

# inplace parameter : inplace=False (Default Behavior): When inplace is set to False (which is the default for most Pandas methods), the operation returns a new DataFrame or Series with the modifications.The original object remains unchanged.

var.fillna(12,inplace=False)

# limit paramter : fill the null space as per the limit along column.

var.fillna("Ayush",limit=2) # in columns only 2 null values will be filled by Ayush.

C:\Users\ASUS\AppData\Local\Temp\ipykernel_11896\3011531966.py:14: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  var.fillna(method="ffill") # this method is deprecated for this version so use

   StudentID       Name    Age Department  Maths Physics Chemistry       City
0       S001   Student1   24.0         ME   69.0    53.0      80.0     Mumbai
1       S002   Student2   25.0         ME   96.0    83.0     100.0    Kolkata
2       S003   Student3   22.0         EE   58.0    87.0      50.0    Chennai
3       S004   Student4   24.0      Ayush   74.0   100.0      93.0    Chennai
4       S005   Student5   19.0         CE   80.0    78.0      94.0     Mumbai
5       S006   Student6   24.0         IT   64.0   100.0      73.0    Chennai
6       S007   Student7   19.0         CE   56.0    93.0      78.0  Bangalore
7       S008   Student8   23.0         IT  Ayush    72.0      85.0    Kolkata
8       S009      Ayush   21.0         IT   77.0    65.0      66.0      Ayush
9       S010  Student10   22.0        ECE   67.0    68.0      85.0    Kolkata
10      S011  Student11   21.0         IT   67.0    80.0      88.0      Delhi
11      S012  Student12   20.0         ME  Ayush    56.0      63.0     Mumbai
12      S013  Student13  Ayush         EE   64.0    58.0      92.0  Bangalore
13      S014  Student14   25.0         ME   89.0    89.0      99.0    Kolkata
14      S015  Student15   24.0         EE   88.0    89.0      92.0    Chennai
15      S016  Student16   23.0         CS   60.0    86.0      63.0    Kolkata
16      S017      Ayush   25.0         EE   93.0    62.0      51.0  Hyderabad
17      S018  Student18   20.0         CS   77.0    50.0      72.0    Chennai
18      S019  Student19   18.0      Ayush   73.0    96.0      66.0  Bangalore
19      S020  Student20   19.0         IT   91.0    69.0      95.0  Hyderabad
20      S021  Student21   20.0         IT   90.0    69.0      70.0    Chennai
21      S022  Student22   23.0         CE   87.0    80.0      67.0     Mumbai
22      S023  Student23   20.0         ME   56.0    62.0      64.0    Kolkata
23      S024        NaN   18.0         CS   85.0    91.0      83.0    Kolkata
24      S025  Student25   19.0         EE   54.0    86.0      50.0  Bangalore
25      S026  Student26   21.0        ECE   71.0    60.0      87.0  Hyderabad
26     Ayush        NaN  Ayush        NaN    NaN   Ayush     Ayush      Ayush
27      S028  Student28   19.0         IT   92.0    55.0      54.0    Kolkata
28      S029  Student29   25.0         EE   98.0    62.0      53.0  Bangalore
29      S030  Student30   23.0         ME   59.0    65.0      65.0      Delhi
30      S031  Student31   18.0         CE   86.0    81.0      91.0    Kolkata
31      S032  Student32   25.0         EE   88.0    51.0      66.0  Bangalore
32      S033  Student33   19.0         EE   58.0    71.0      76.0      Delhi
33      S034  Student34   19.0         CE   72.0    79.0      89.0  Bangalore
34      S035  Student35   21.0         CE   66.0    91.0      92.0  Hyderabad
35      S036  Student36   21.0         CS   70.0   100.0      65.0    Kolkata
36      S037  Student37   24.0         CS   88.0    70.0      93.0  Hyderabad
37      S038  Student38   20.0         ME   96.0    94.0      84.0    Chennai
38      S039  Student39   20.0         IT   63.0    86.0      68.0    Kolkata
39      S040  Student40   21.0         EE   95.0    88.0      93.0    Kolkata
40      S041  Student41   18.0        ECE   80.0    55.0      67.0    Kolkata
41      S042  Student42   23.0         ME   80.0    58.0      54.0    Chennai
42      S043  Student43   22.0         ME   86.0    66.0      56.0     Mumbai
43      S044  Student44   21.0         ME   87.0    51.0      84.0    Kolkata
44      S045  Student45   24.0         IT   97.0    78.0      78.0    Kolkata
45      S046  Student46   24.0         ME   86.0    77.0      99.0  Bangalore
46      S047  Student47   23.0         ME   95.0    80.0      57.0    Kolkata
47      S048  Student48   24.0         EE   62.0    91.0      69.0     Mumbai
48      S049  Student49   18.0        ECE   64.0    96.0      76.0  Bangalore
49      S050  Student50   20.0         CE   60.0    71.0      57.0  Hyderabad