# Replace and Interpole

In [2]:
# Handlind data in csv file.

import pandas as pd

var = pd.read_csv("C:\\PythonProjects\\Jupyter_Projects\\students_large.csv")
var

   StudentID       Name   Age Department  Maths  Physics  Chemistry       City
0       S001   Student1  24.0         ME   69.0     53.0       80.0     Mumbai
1       S002   Student2  25.0         ME   96.0     83.0      100.0    Kolkata
2       S003   Student3  22.0         EE   58.0     87.0       50.0        NaN
3       S004   Student4  24.0        NaN   74.0    100.0       93.0        NaN
4       S005   Student5  19.0         CE   80.0     78.0       94.0        NaN
5       S006   Student6  24.0         IT   64.0    100.0       73.0    Chennai
6       S007   Student7  19.0         CE   56.0     93.0       78.0  Bangalore
7       S008   Student8  23.0         IT    NaN     72.0       85.0    Kolkata
8       S009        NaN  21.0         IT   77.0     65.0       66.0        NaN
9       S010  Student10  22.0        ECE   67.0     68.0       85.0    Kolkata
10      S011  Student11  21.0         IT   67.0     80.0       88.0      Delhi
11      S012  Student12  20.0         ME    NaN     56.0       63.0     Mumbai
12      S013  Student13   NaN         EE   64.0     58.0       92.0  Bangalore
13      S014  Student14  25.0         ME   89.0     89.0       99.0    Kolkata
14      S015  Student15  24.0         EE   88.0     89.0       92.0    Chennai
15      S016  Student16  23.0         CS    NaN     86.0       63.0        NaN
16      S017        NaN  25.0         EE   93.0     62.0       51.0        NaN
17      S018  Student18  20.0         CS   77.0     50.0       72.0        NaN
18      S019  Student19  18.0        NaN    NaN     96.0       66.0        NaN
19      S020  Student20  19.0         IT   91.0     69.0       95.0  Hyderabad
20      S021  Student21  20.0         IT   90.0     69.0       70.0    Chennai
21      S022  Student22  23.0         CE   87.0     80.0       67.0     Mumbai
22      S023  Student23  20.0         ME   56.0     62.0       64.0    Kolkata
23      S024        NaN  18.0         CS   85.0     91.0       83.0    Kolkata
24      S025  Student25  19.0         EE   54.0     86.0       50.0  Bangalore
25      S026  Student26  21.0        ECE   71.0     60.0       87.0  Hyderabad
26       NaN        NaN   NaN        NaN    NaN      NaN        NaN        NaN
27      S028  Student28  19.0         IT   92.0     55.0       54.0    Kolkata
28      S029  Student29  25.0         EE   98.0     62.0       53.0  Bangalore
29      S030  Student30  23.0         ME   59.0     65.0       65.0      Delhi
30      S031        NaN  18.0         CE   86.0     81.0       91.0    Kolkata
31      S032        NaN  25.0         EE   88.0     51.0       66.0  Bangalore
32      S033        NaN  19.0         EE   58.0     71.0       76.0      Delhi
33      S034        NaN  19.0         CE    NaN     79.0       89.0  Bangalore
34      S035        NaN  21.0         CE   66.0     91.0       92.0  Hyderabad
35      S036        NaN  21.0         CS   70.0    100.0       65.0    Kolkata
36      S037        NaN  24.0         CS   88.0     70.0       93.0  Hyderabad
37      S038        NaN  20.0         ME   96.0     94.0       84.0    Chennai
38      S039  Student39  20.0         IT   63.0     86.0       68.0    Kolkata
39      S040  Student40  21.0         EE   95.0     88.0       93.0    Kolkata
40      S041  Student41  18.0        ECE   80.0     55.0       67.0    Kolkata
41      S042  Student42  23.0         ME   80.0     58.0       54.0    Chennai
42      S043  Student43  22.0         ME   86.0     66.0       56.0     Mumbai
43      S044  Student44  21.0         ME   87.0     51.0       84.0    Kolkata
44      S045  Student45  24.0         IT   97.0     78.0       78.0    Kolkata
45      S046  Student46  24.0         ME   86.0     77.0       99.0  Bangalore
46      S047  Student47  23.0         ME   95.0     80.0       57.0    Kolkata
47      S048  Student48  24.0         EE   62.0     91.0       69.0     Mumbai
48      S049  Student49  18.0        ECE   64.0     96.0       76.0  Bangalore
49      S050  Student50  20.0         CE   60.0     71.0       57.0  Hyderabad

In [ ]:
# replace fxn : uses "to_replace= which one wants to replace" and "value = the value should be" parameter.

var.replace(to_replace=19,value=105)

var.replace(to_replace="IT",value="Ai and Ml")

# many value replaced by 1 value :

var.replace(['S001','S002','S003','S004','S005','S006','S007','S008','S009'],99)

# replace using "regex" parameter  : use for replacing ALphabetical data

var.replace("[A-Za-z]","A",regex=True)

var.replace("[A-Z]","A",regex=True)

# Replace using dictionary :

var.replace({"Name":'[A-Z]'},"Ayush",regex=True)

# replace with backword or forward data : using "method" parameter

var.replace(1,method="ffill")

# limit parameter : replace(wantreplace , bywhom, limit  ) to the limit

var.replace(1,"Ayush",limit=3)


# inplace parameter: changes in original data

var.replace("Student","Ayush",inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_3044\2325135257.py:23: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  var.replace(1,method="ffill")
C:\Users\ASUS\AppData\Local\Temp\ipykernel_3044\2325135257.py:27: FutureWarning: The 'limit' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  var.replace(1,"Ayush",limit=3)

In [4]:
# Interpolate fxn : used for filling missing data automatically. by observing sequence of previous data .

var1 = pd.read_csv("C:\\PythonProjects\\Jupyter_Projects\\students_large.csv")
var1

   StudentID       Name   Age Department  Maths  Physics  Chemistry       City
0       S001   Student1  24.0         ME   69.0     53.0       80.0     Mumbai
1       S002   Student2  25.0         ME   96.0     83.0      100.0    Kolkata
2       S003   Student3  22.0         EE   58.0     87.0       50.0        NaN
3       S004   Student4  24.0        NaN   74.0    100.0       93.0        NaN
4       S005   Student5  19.0         CE   80.0     78.0       94.0        NaN
5       S006   Student6  24.0         IT   64.0    100.0       73.0    Chennai
6       S007   Student7  19.0         CE   56.0     93.0       78.0  Bangalore
7       S008   Student8  23.0         IT    NaN     72.0       85.0    Kolkata
8       S009        NaN  21.0         IT   77.0     65.0       66.0        NaN
9       S010  Student10  22.0        ECE   67.0     68.0       85.0    Kolkata
10      S011  Student11  21.0         IT   67.0     80.0       88.0      Delhi
11      S012  Student12  20.0         ME    NaN     56.0       63.0     Mumbai
12      S013  Student13   NaN         EE   64.0     58.0       92.0  Bangalore
13      S014  Student14  25.0         ME   89.0     89.0       99.0    Kolkata
14      S015  Student15  24.0         EE   88.0     89.0       92.0    Chennai
15      S016  Student16  23.0         CS    NaN     86.0       63.0        NaN
16      S017        NaN  25.0         EE   93.0     62.0       51.0        NaN
17      S018  Student18  20.0         CS   77.0     50.0       72.0        NaN
18      S019  Student19  18.0        NaN    NaN     96.0       66.0        NaN
19      S020  Student20  19.0         IT   91.0     69.0       95.0  Hyderabad
20      S021  Student21  20.0         IT   90.0     69.0       70.0    Chennai
21      S022  Student22  23.0         CE   87.0     80.0       67.0     Mumbai
22      S023  Student23  20.0         ME   56.0     62.0       64.0    Kolkata
23      S024        NaN  18.0         CS   85.0     91.0       83.0    Kolkata
24      S025  Student25  19.0         EE   54.0     86.0       50.0  Bangalore
25      S026  Student26  21.0        ECE   71.0     60.0       87.0  Hyderabad
26       NaN        NaN   NaN        NaN    NaN      NaN        NaN        NaN
27      S028  Student28  19.0         IT   92.0     55.0       54.0    Kolkata
28      S029  Student29  25.0         EE   98.0     62.0       53.0  Bangalore
29      S030  Student30  23.0         ME   59.0     65.0       65.0      Delhi
30      S031        NaN  18.0         CE   86.0     81.0       91.0    Kolkata
31      S032        NaN  25.0         EE   88.0     51.0       66.0  Bangalore
32      S033        NaN  19.0         EE   58.0     71.0       76.0      Delhi
33      S034        NaN  19.0         CE    NaN     79.0       89.0  Bangalore
34      S035        NaN  21.0         CE   66.0     91.0       92.0  Hyderabad
35      S036        NaN  21.0         CS   70.0    100.0       65.0    Kolkata
36      S037        NaN  24.0         CS   88.0     70.0       93.0  Hyderabad
37      S038        NaN  20.0         ME   96.0     94.0       84.0    Chennai
38      S039  Student39  20.0         IT   63.0     86.0       68.0    Kolkata
39      S040  Student40  21.0         EE   95.0     88.0       93.0    Kolkata
40      S041  Student41  18.0        ECE   80.0     55.0       67.0    Kolkata
41      S042  Student42  23.0         ME   80.0     58.0       54.0    Chennai
42      S043  Student43  22.0         ME   86.0     66.0       56.0     Mumbai
43      S044  Student44  21.0         ME   87.0     51.0       84.0    Kolkata
44      S045  Student45  24.0         IT   97.0     78.0       78.0    Kolkata
45      S046  Student46  24.0         ME   86.0     77.0       99.0  Bangalore
46      S047  Student47  23.0         ME   95.0     80.0       57.0    Kolkata
47      S048  Student48  24.0         EE   62.0     91.0       69.0     Mumbai
48      S049  Student49  18.0        ECE   64.0     96.0       76.0  Bangalore
49      S050  Student50  20.0         CE   60.0     71.0       57.0  Hyderabad

In [8]:

var1.interpolate()  # for int only not for alphabets

# methods:{linear,time, index , values , nearest , zero , silnear , quadratic , cubic , barycentric , krigh , polynomial , spline , piecewise_polynomial , from_derivatives , pchip , akima }

var1.interpolate("linear")

# axis paramter : axis = 0 column by column

var1.interpolate(axis=0)  # dataframe should be commom or same means datavalues should be of same datatype


# limit parameter and its direction forward or backward  :   using limit_direction = "f/backward or b0th"

var1.interpolate(limit_direction="forward",limit=5) # forward mai aage se , backward mai piche se

# limit area parameter :  It defines a restriction on the area where consecutive NaNs are allowed to be filled.

var1.interpolate(limit_area="outside")


#  inplace parameter : placing all data in the original data 

var1.interpolate(inplace=True)
var1

C:\Users\ASUS\AppData\Local\Temp\ipykernel_8944\3254817278.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var1.interpolate()  # for int only not for alphabets
C:\Users\ASUS\AppData\Local\Temp\ipykernel_8944\3254817278.py:5: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var1.interpolate("linear")
C:\Users\ASUS\AppData\Local\Temp\ipykernel_8944\3254817278.py:9: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var1.interpolate(axis=0)  # dataframe should be commom or same means datavalues should be of same datatype
C:\Users\ASUS\AppData\Local\Temp\ipykernel_8944\3254817278.py:14: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var1.interpolate(limit_direction="forward",limit=5) # forward mai aage se , backward mai piche se
C:\Users\ASUS\AppData\Local\Temp\ipykernel_8944\3254817278.py:18: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var1.interpolate(limit_area="outside")
C:\Users\ASUS\AppData\Local\Temp\ipykernel_8944\3254817278.py:23: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var1.interpolate(inplace=True)

   StudentID       Name   Age Department  Maths  Physics  Chemistry       City
0       S001   Student1  24.0         ME   69.0     53.0       80.0     Mumbai
1       S002   Student2  25.0         ME   96.0     83.0      100.0    Kolkata
2       S003   Student3  22.0         EE   58.0     87.0       50.0        NaN
3       S004   Student4  24.0        NaN   74.0    100.0       93.0        NaN
4       S005   Student5  19.0         CE   80.0     78.0       94.0        NaN
5       S006   Student6  24.0         IT   64.0    100.0       73.0    Chennai
6       S007   Student7  19.0         CE   56.0     93.0       78.0  Bangalore
7       S008   Student8  23.0         IT   66.5     72.0       85.0    Kolkata
8       S009        NaN  21.0         IT   77.0     65.0       66.0        NaN
9       S010  Student10  22.0        ECE   67.0     68.0       85.0    Kolkata
10      S011  Student11  21.0         IT   67.0     80.0       88.0      Delhi
11      S012  Student12  20.0         ME   65.5     56.0       63.0     Mumbai
12      S013  Student13  22.5         EE   64.0     58.0       92.0  Bangalore
13      S014  Student14  25.0         ME   89.0     89.0       99.0    Kolkata
14      S015  Student15  24.0         EE   88.0     89.0       92.0    Chennai
15      S016  Student16  23.0         CS   90.5     86.0       63.0        NaN
16      S017        NaN  25.0         EE   93.0     62.0       51.0        NaN
17      S018  Student18  20.0         CS   77.0     50.0       72.0        NaN
18      S019  Student19  18.0        NaN   84.0     96.0       66.0        NaN
19      S020  Student20  19.0         IT   91.0     69.0       95.0  Hyderabad
20      S021  Student21  20.0         IT   90.0     69.0       70.0    Chennai
21      S022  Student22  23.0         CE   87.0     80.0       67.0     Mumbai
22      S023  Student23  20.0         ME   56.0     62.0       64.0    Kolkata
23      S024        NaN  18.0         CS   85.0     91.0       83.0    Kolkata
24      S025  Student25  19.0         EE   54.0     86.0       50.0  Bangalore
25      S026  Student26  21.0        ECE   71.0     60.0       87.0  Hyderabad
26       NaN        NaN  20.0        NaN   81.5     57.5       70.5        NaN
27      S028  Student28  19.0         IT   92.0     55.0       54.0    Kolkata
28      S029  Student29  25.0         EE   98.0     62.0       53.0  Bangalore
29      S030  Student30  23.0         ME   59.0     65.0       65.0      Delhi
30      S031        NaN  18.0         CE   86.0     81.0       91.0    Kolkata
31      S032        NaN  25.0         EE   88.0     51.0       66.0  Bangalore
32      S033        NaN  19.0         EE   58.0     71.0       76.0      Delhi
33      S034        NaN  19.0         CE   62.0     79.0       89.0  Bangalore
34      S035        NaN  21.0         CE   66.0     91.0       92.0  Hyderabad
35      S036        NaN  21.0         CS   70.0    100.0       65.0    Kolkata
36      S037        NaN  24.0         CS   88.0     70.0       93.0  Hyderabad
37      S038        NaN  20.0         ME   96.0     94.0       84.0    Chennai
38      S039  Student39  20.0         IT   63.0     86.0       68.0    Kolkata
39      S040  Student40  21.0         EE   95.0     88.0       93.0    Kolkata
40      S041  Student41  18.0        ECE   80.0     55.0       67.0    Kolkata
41      S042  Student42  23.0         ME   80.0     58.0       54.0    Chennai
42      S043  Student43  22.0         ME   86.0     66.0       56.0     Mumbai
43      S044  Student44  21.0         ME   87.0     51.0       84.0    Kolkata
44      S045  Student45  24.0         IT   97.0     78.0       78.0    Kolkata
45      S046  Student46  24.0         ME   86.0     77.0       99.0  Bangalore
46      S047  Student47  23.0         ME   95.0     80.0       57.0    Kolkata
47      S048  Student48  24.0         EE   62.0     91.0       69.0     Mumbai
48      S049  Student49  18.0        ECE   64.0     96.0       76.0  Bangalore
49      S050  Student50  20.0         CE   60.0     71.0       57.0  Hyderabad